.login__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-end; */
    /* margin-top: 8vw; */
    height: 100vh;
    overflow: hidden;
}

.login__text-box {
    margin: 4vw 1vw 1vw 1vw;
    font-size: 1.5vw;
    text-align: center;
}

.login__bg {
    height: 100vh;
    margin-left: 5vw;
    transform: scale(0.8)
}

.login__box {
    display: flex;
    flex-direction: column;
    width: 40vw;
    box-shadow: 8px 8px 18px rgb(152, 152, 152);
    /* border-radius: 1vw; */
    /* align-self: center; */
    gap: 1vw;
    padding: 4vw 1vw 2vw 1vw;
    width: 25vw;
    height: 100vh;
    /* position: absolute; */
}

.login__logo {
    width: 15vw;
    align-self: center;
}

.input__magis {
    margin: 0 1vw;
    padding: .7vw 1vw;
    border-radius: 1vw;
    background-color: #ffeedd;
    font-size: 1vw;
}

.button__magis {
    margin: 0 1vw;
    background-color: #E87C0C;
    border-radius: 1vw;
    padding: .7vw;
    transition: .3s;
    font-size: 1vw;
}

.button__magis:hover {
    filter: brightness(120%);
    transition: .3s;
}

.link__magis {
    align-self: center;
    font-size: 1vw;
    margin: 1vw;
}

.prop-image:hover {
    transition: .4s;
    transform: translateY(-4%);
    box-shadow: 5px 5px 18px gray;
}

.app__version {
    font-size: .8vw;
    color: lightgray;
    align-self: center;
    margin-top: 4vw;
}


/* ---- Dashboard ---  */
.dashboard__container {
    display: flex;
    flex-direction: column;
}

.header__container {
    height: 4vw;
    padding: 1vw 1.5vw;
    /* box-shadow: 4px 4px 10px lightgray; */
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    height: 2vw;
    cursor: pointer;
}

.header__account {
    height: 2vw;
    cursor: pointer;
    filter: invert(40%) sepia(2%) saturate(0%) hue-rotate(272deg) brightness(90%) contrast(82%);
    transition: .3s;
}

.header__account:hover {
    filter: invert(49%) sepia(95%) saturate(589%) hue-rotate(353deg) brightness(91%) contrast(100%);
    transition: .3s;
}

.dashboard__row {
    display: flex;
    flex-direction: row;
}

.sidebar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8vw;
    width: 17vw;
    padding-top: 1.5vw;
    border-right: 1px solid lightgray;
    height: 92vh;
}

.sidebar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    width: 80%;
    cursor: pointer;
    transition: .3s;
    padding: .5vw;
}

.sidebar__item:hover {
    color: #E87C0C
}

.sidebar__item:hover .sidebar__svg{
    filter: invert(49%) sepia(95%) saturate(589%) hue-rotate(353deg) brightness(91%) contrast(100%);
}

.sidebar__svg {
    height: 1.5vw;
}

.sidebar__module-text {
    font-size: 1vw;
    height: 1.5vw;
    line-height: 1.5vw;
    margin: 0;
}

.sidebar__separator {
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.--selected {
    background-color: #e4e4e4;
    border-radius: 1vw;

}

.dashboard__home {
    width: 90%;
}

.investments__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}

.publication__card {
    width: 17vw;
    margin: 1vw;
    box-shadow: 1px 1px 3px lightgray;
    border: 1px solid lightgray;
    border-radius: 1vw;
    cursor: pointer;
    transition: .3s;
}

.publication__card:hover {
    box-shadow: 5px 5px 18px lightgray;
    transition: .3s;
}

.publication__image-container {
    border-radius: 1vw 1vw 0 0;
    width: 17vw;
    height: 10vw;
    overflow: hidden;
}

.publication__image {
    width: 100%;
    object-fit: cover;
}

.publication__title {
    font-size: 1vw;
    margin: .5vw;
    height: 3vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.publication__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vw;
    justify-content: space-between;
}